* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}



html,
body {
  width: 100%;
  height: 100%;
}

.login,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 8px 8px 24px 0px rgba(66, 64, 90, 1);
  padding: 5px;
  margin: 3px 5px;
}

h1 {
  text-align: center;
  margin: 5px;
  color: rgb(23, 191, 174);
}

label {
  font-size: larger;

}

.container div {
  display: flex;
  flex-direction: column;
}

.container form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}

.container {
  width: 22vw;
}

input {
  border: none;
  border-bottom: 2px solid black;
  margin: 9px;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  cursor: pointer;
  border-radius: 19px;
  box-shadow:  0 0 10px  rgb(36, 37, 37);
  outline: none;
}
input:hover
{
  border: none;
}

button {
  padding: 15px;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  margin: 5px;
  border-radius: 10px;
  border: none;
  color: aliceblue;
  background-color: rgb(18, 17, 17);

}

button:active{
  transform:  translateY(3px);
  outline: none;
  color: rgb(58, 105, 103); 
}

div .link {
  color: rgb(23, 119, 136);
  text-decoration: none;
}

.link:hover {
  font-size: larger;
}